{% extends "base.html" %}

{% block app_content %}

{% if form %}
<form action="" method="post" class="form-control form-control-lg">
    {{ form.hidden_tag() }}
    {{ form.name.label }}
    {{ form.name(class='form-control form-control-lg', autofocus=true) }}
    {% for error in form.name.errors %}
      <span class='error'>[{{ error }}]</span><br>
    {% endfor %}
    {{ form.submit(class='btn btn-outline-primary') }}
</form>
{% endif %}
<div class="list-group">
{% for task in tasks %}
    <div class="list-group-item list-group-item-action" id={{ task[1] }}>
    {% if index %}
        <div onclick="finishTask({{ task[1] }})" class="btn btn-outline-success float-start" >Done</div>
        <div onclick="deleteTask({{ task[1] }})" class="btn btn-outline-danger float-end">Delete</div>
    {% endif %}
    &emsp;{{ task[0] }}
    </div>
{% endfor %}
 </div>
{% endblock %}
